:root {
  --color-font-primary: #ffffff;
  --bg-search: rgba(255, 255, 255, 0.5);
  --color-screen-text: #f79489;
  --color-font-dark: #564e4e;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 10px;
  scroll-behavior: smooth;
  font-style: normal;
}
h2 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 7.2rem;
}
.wrapper {
  max-width: 1760px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 35px;

  color: var(--color-font-primary);
  line-height: 2.7rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.list__item {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 60px;
  margin-left: 1px;
}
.nav__item a {
  font-size: 1.8rem;
}
.nav {
  margin-right: 93px;
}

.screen {
  color: var(--color-font-primary);
  padding-bottom: 388px;
  color: var(--color-font-dark);
}

.screen__title {
  margin-top: 155px;
  font-size: 4.8rem;
  line-height: 7.2rem;
  text-align: center;
  font-weight: 600;
}
.search {
  position: relative;
  width: 360px;
  margin: 0 auto;
}
.screen__search {
  margin-top: 60px;
  width: 360px;
  height: 60px;
  background: var(--bg-search);
  border: 1px solid var(--color-font-primary);
  border-radius: 30px;
}
.screen__search_btn {
  position: absolute;
  right: 10px;
  top: 70px;
  background-image: url("./assets/svg/btn_search.svg");
  background-repeat: no-repeat;
  border: 0px solid transparent;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.screen__search:focus {
  outline: none;
}
.screen__search::placeholder {
  font-family: "Poppins", sans-serif;
  padding-left: 19px;
  color: var(--color-font-primary);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.screen__description {
  margin-top: 40px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.bg-picture {
  width: 100%;
  background-image: url("./assets/image/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-search {
  position: absolute;
  top: 70px;
  right: 709px;
}
.choosing {
  width: 100%;
}
.choosing__title {
  margin-top: 86px;
}
.choosing-items {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 198px;
}
.choosing__item {
  border: 1px solid transparent;
  width: 25%;
  width: 425px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  padding-left: 20px;
  padding-right: 20px;
}
.item__icon {
  margin-top: 12px;
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
.icon-profi {
  background-image: url("./assets/svg/icon-profi.svg");
}
.icon-workflow {
  background-image: url("./assets/svg/icon-work.svg");
}
.icon-platform {
  background-image: url("./assets/svg/icon-platform.svg");
}
.icon-employee {
  background-image: url("./assets/svg/icon-employee.svg");
}
.choosing__item {
  background: rgba(255, 255, 255, 0.2);
}
.choosing__item:hover {
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  border-radius: 10px;
}
.item__title {
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 500;
}
.item-description {
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.item__text {
  margin-top: 20px;
  color: var(--color-screen-text);
}
.visualize {
  width: 100%;
  color: var(--color-font-dark);
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: flex-start;
  align-items: start;
  padding-bottom: 200px;
}
.visualize__title {
  font-weight: 500;
}
.visualize-content {
  width: 48%;
  margin-top: 21px;
  margin-right: 65px;
}
.visualize__text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.thin {
  font-weight: 300;
  width: 773px;
}
.colored {
  color: var(--color-screen-text);
}

.wide {
  margin-top: 40px;
}
.visualize-image {
  width: 52%;
  margin-top: 30px;
}
.visualize-image img {
  width: 100%;
  border-radius: 60px 60px 0px 60px;
}
.plus_minus {
  display: block;
  width: 16px;
  height: 16px;
}
.minus {
  background-image: url("./assets/svg/minus.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.plus {
  background-image: url("./assets/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.product {
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 197px;
}
.product__title {
  font-weight: 500;
  text-align: center;
}
.product-items {
  display: flex;
  gap: 20px;
}
.product-item__image {
  margin-top: 40px;
  background: #f6f6f6;
  width: 425px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-item {
  width: 25%;
}

.product-item-content {
  padding-left: 20px;
}
.product-item__title {
  margin-top: 34px;
}
.product-item__star {
  margin-top: 13px;
  color: #dfb300;
  letter-spacing: 0.35em;
}
.product-item__category {
  margin-top: 23px;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #c4c4c4;
}
.product-item__id {
  margin-top: 22px;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #564e4e;
}

.bg-service {
  background: linear-gradient(279.85deg, #ffffff 0%, #faf5f2 100%);
}
.service {
  width: 100%;
  padding-bottom: 248px;
}
.service__title {
  text-align: center;
  padding-top: 87px;
}
.service-items {
  margin-top: 110px;

  display: flex;
  flex-direction: row;
  gap: 70px;
}

.service-item {
  width: 31%;
}
.service-item__title {
  font-size: 2.4rem;
  line-height: 4.8rem;
  font-weight: 500;
}
.service-item__description {
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 400;
  text-align: left;
}
.service-item__people {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.people-wide {
  margin-top: 56px;
}
.people__image img {
  border-radius: 50px;
}

.people__name {
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 500;
}
.people__job {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 300;
}
.make {
  margin-top: 200px;
  display: flex;
  flex-direction: row;

  gap: 65px;
}

.make__image {
  width: 50%;
}
.make__image img {
  border-radius: 60px 60px 60px 0px;
  width: 101%;
}

.make-content {
  width: 47%;
  padding-left: 20px;

  padding-bottom: 390px;
}
.make__description {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.make__search {
  margin-top: 40px;
  position: relative;
  width: 400px;
}

.make__input {
  padding-left: 22px;
  background: #fefcfb;
  border: 1px solid #fadcd9;
  border-radius: 30px;
  width: 400px;
  height: 60px;
}
.make__input2 {
  background-image: url("./assets/svg/buttonsearch.svg");
  background-repeat: no-repeat;
  border: 0px solid transparent;
  border-radius: 50%;
  position: absolute;
  width: 44px;
  height: 44px;
  left: 348px;
  top: 5px;
}
.make__input:focus,
.make__input2:focus {
  outline: none;
}
.make__input::placeholder {
  font-family: "Poppins", sans-serif;
  padding-left: 0px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #f79489;
}

/* background-image: url("./assets/svg/buttonsearch.svg");
  background-repeat: no-repeat;
  background-position: center; */

/*.icon-make {
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  background-image: url("./assets/svg/buttonsearch.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 6px;
  right: 415px;
}*/

.bg-footer {
  background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
}
.bg-footer .wrapper {
  margin: 0;
  margin-left: 80px;
}
.footer {
  width: 100%;
}
.common {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 200px;
}

.footer-items {
  width: 80%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 200px; */
  margin-bottom: 173px;
}
.footer-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.footer-item:nth-child(2) {
  margin-right: -20px;
  margin-left: 29px;
}
.footer-item:nth-child(4) {
  margin-right: -160px;
}

.footer__logo {
  /* min-width: 238px; */
  padding-top: 100px;
  width: 20%;
}
.footer__logo img {
  width: 75%;
}
.footer__title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #fadcd9;
  margin-bottom: 20px;
}
.footer__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
}

/* .features {
  min-width: 151px;
}
.support {
  min-width: 100px;
}
.legal {
  min-width: 120px;
}
.social {
  min-width: 145x;
} */

.footer_down {
  padding-bottom: 40px;
  text-align: center;
  margin-left: -6px;
}
.footer_down p {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
}
